/* ==========================================================================
   MEDIA QUERY MIXINS
   ========================================================================== */


/*
 * Per assignment requirements, only mobile and desktop devices have been specified.
 */
mobile()
  @media (max-width: 767px)
    {block}

desktop()
  @media (min-width: 768px)
    {block}
