
/* ==========================================================================
   Global variables
   ========================================================================== */


/* Color variables
   ========================================================================== */

$transparent = rgba(0, 0, 0, 0)
$white = #fff
$ivory_white = #eee
$light_gray = #ededed
$middle_gray = #676767
$black = #000
$charcoal = #222
$light_blue = #4a88d1
$dark_blue = #31639c





/* Header height varies by device
   ========================================================================== */
$header_height_mobile = 59px
$header_height_desktop = 69px




/* Font weights
   ========================================================================== */
$light_font = 300
$regular_font = 400
$bold_font = bold




/* Font sizes available
   ========================================================================== */
$main_section_title_mobile = 36px
$sub_section_title_mobile = 24px
$small_section_title_mobile = 18px
$main_text_mobile = 16px

$main_section_title_desktop = 46px
$sub_section_title_desktop = 36px
$small_section_title_desktop = 24px
$main_text_desktop = 20px

$link_text = 12px

$grid_title = 18px
$grid_text = 14px

$legal_text = 12px
