
/* ==========================================================================
   Margin modifiers to align misc elements on the site
   ========================================================================== */




/* Global styles
   ========================================================================== */




/* Mobile
   ========================================================================== */

+mobile()
  .mrg--30
    margin-left: 30px
    margin-right: 30px

  .mrg--25
    margin-left: 25px
    margin-right: 25px




/* Desktop
   ========================================================================== */

// +desktop()
//   p, span
//     line-height: ($main_text_mobile + 4px)
//     font-size: $main_text_desktop
//
//   a
//     font-size: $link_text_desktop
//     text-decoration: none
