doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Behavior Interactive Test by Estefania Tastan
    meta(name='description', content='Behavior Interactive Test by Estefania Tastan')
    meta(name='keywords', content='Behavior, Behavior Interactive, Tech Test')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=0.5 maximum-scale=1.0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    link(rel='stylesheet', href='css/style.min.css')
    
    //- Icons by FontAwesome
    script(src='https://use.fontawesome.com/3f4ed87cc9.js')
  
  body.box_main
    section.box_backgroundImage.imageBox_top#imageBox_top
      //-Navigation section.
      header.box_header_wrapper.topNav_wrapper
        .box_content
          h1.topNav_logo_container Behavior Interactive Tech Test by Estefania Tastan
            .topNav_logo
            
          .topNav_burger#topNav_burger
          nav.topNav_linkList#topNav_linkList
            a.topNav_link(href='#') Home
            a.topNav_link(href='#') Pages
            a.topNav_link(href='#') Blog
            a.topNav_link(href='#') Shop
            a.topNav_link(href='#') Portfolio
            a.topNav_link(href='#') Blocks
            a.topNav_link(href='#') Elements
            
          .topNav_shoppingCart#topNav_shoppingCart
          nav.topNav_buyList#topNav_buyList
            a.topNav_link.topNav_button--clear(href='#') Try Stack
            a.topNav_link.topNav_button--blue(href='#') Buy Now
        
      //- "Streamline your worflow" section
      //- Contents: stretched-out background image with description and a video player.
      section.box_content
        .box_streamline
          .box--half
            h2.streamline_title.mrg--30 Streamline your workflow with Stack
            p.streamline_description.mrg--30 Build lean, beautiful websites with a clean and contemporary look to suit a range of purposes.
            a.button_blue.mrg--30(href='#') View the Demos
          .box--half
            .videoPlayer_container
              .videoPlayer_wrapper#videoPlayer_playVideo
                .videoPlayer_button.button_play
              .videoPlayer_video
                iframe.videoPlayer_ytVideo#videoPlayer_ytVideo(src='https://www.youtube.com/embed/9t7SclAXoQw?', frameborder='0', allowfullscreen)
            
        
    //- Text-only section explaining the template's tools
    //- Contents: text wrapper for "All the tools you'll need section"
    section.box_content.box_tools
      h3.tools_title.mrg--25 All the tools you'll need
      p.tools_description.mrg--25 Whether you're building a welcome mat for your SaaS or a clean, corporate portfolio, Slack has your design needs covered.
        
    //- Grid section.
    //- Contents: Three boxes explaining the many features included in the original layout.
    section.box_content.box_grid
      .grid_wrapper
        article.grid_item
          .grid_logo.grid_logo_envelope
          h4.grid_title Mailer Integrations
          p.grid_description Slack comes with integration for Mail Chump and Campain Monitor forms - ideal for modern marketing campaigns.
          a.grid_learnMore(href='#') Learn More
        article.grid_item
          span.grid_newFeature.button_new NEW
          .grid_logo.grid_logo_diamond
          h4.grid_title Diverse Icons
          p.grid_description Including the premium Icons Mind icon kit. Slack features a highly diverse set of icons suitable for all purposes.
          a.grid_learnMore(href='#') Learn More
        article.grid_item
          .grid_logo.grid_logo_cubes
          h4.grid_title Modular Design
          p.grid_description Combine blocks from a range of categories to build pages that are rich in visual style and interactivity.
          a.grid_learnMore(href='#') Learn More
        
    //- "Experience Quality" section.
    //- Contents: stretched-out background image with description and a video player.
    section.box_backgroundImage.imageBox_bottom.box_white#imageBox_bottom
      .box_content
        article.whiteBox
          h4.whiteBox_title Experience Quality
          p.whiteBox_description Slack is built with customization and ease-of-use at its core -- wether you're a seasoned developer or just starting out, you'll be making attractive sites faster than any traditional HTML template.
          hr.whiteBox_border
          p.whiteBox_legal Each purchase of Slack includes six months of free support and lifetime free content and bug-fix updates.
    
    //- Closing section
    section.box_content.box_footer
      p.text_footer Test done by Estefania Tastan for Behavior Interactive.
      
    script(src='//localhost:35729/livereload.js')
    
    //- Template's scripts.
    script(src='js/scripts.min.js')
